.navbar-inner {
	background: none;
	filter: none;
	border: none;
	box-shadow: none;
	
	background-color: #2d3538;	
	
	padding-top: 10px;
	padding-bottom: 10px;
}	

.navbar .nav > li > a { 
	color: #fff;
	text-shadow: none;
}

.navbar .nav > li > a:hover  {
	color: #666;
}

.navbar .nav .active > a {
	color: #666;
	background: none;
}

.navbar .nav .active > a:hover {
	background: none;
}

.navbar .divider-vertical {
	border-left: 1px solid #1c2022;
	border-right: 1px solid #3e4a4e;
}

.navbar .dropdown {
	background: none;
	filter: none;
	border: none;
	box-shadow: none;
	color: #666;
	background-color: #2d3538;	
	
	//padding-top: 10px;
	//padding-bottom: 10px;
}

.navbar .dropdown > a:hover {
	color: #666;
	background: none;
	text-decoration: none;
}

.profile-div {
	position: absolute;
	top: 25%;
	left: 70%;
}

.my-post {
	position: absolute;
	top: 50%;
	left: 30%;
}

.my-navbar {
	position: absolute;
	top: 10%;
}

.my-carousel {
	position: absolute;
	top: 30%;
	left: 25%;
}

.my-notifications {
	position: absolute;
	top: 70%;
}

.profile-update-div {
	position: absolute;
	top: 50%;
	left: 30%;
}

.upload {
	background: none;
	filter: none;
}

.my-nav {
	position:absolute;
	left: 0%;
	right: 0%;
}

.notification-buttons {
	position: absolute;
	top: 60%;
}

.my-side {
	position: absolute;
	top: 27%;
}

.pes-logo {
	position: absolute;
	top: 25%;
	left: 35%;
}