.navbar-inner {
	background: none;
	filter: none;
	border: none;
	box-shadow: none;
	
	background-color: #2d3538;	
	
	padding-top: 10px;
	padding-bottom: 10px;
}	

.navbar .nav > li > a { 
	color: #fff;
	text-shadow: none;
}

.navbar .nav > li > a:hover  {
	color: #666;
}

.navbar .nav .active > a {
	color: #666;
	background: none;
}

.navbar .nav .active > a:hover {
	background: none;
}

.navbar .divider-vertical {
	border-left: 1px solid #1c2022;
	border-right: 1px solid #3e4a4e;
}

.navbar .dropdown {
	background: none;
	filter: none;
	border: none;
	box-shadow: none;
	color: #666;
	background-color: #2d3538;	
	
	//padding-top: 10px;
	//padding-bottom: 10px;
}

.navbar .dropdown > a:hover {
	color: #666;
	background: none;
	text-decoration: none;
}

.my-post {
	position: absolute;
	top: 30%;
	left: 30%;
}

.my-navbar {
	position: absolute;
	top: 10%;
	left: 0%;
}

.my-carousel {
	position: absolute;
	top: 30%;
	left: 25%;
}

.my-notifications {
	position: absolute;
	top: 70%;
	left: 0%;
}
.my-main{
	width:300px;
 	padding: 8px 0;
}
.my-main1{
	position:absolute;
	top:30%;
	left:40%;
	
}
.profile-update-div {
	position: absolute;
	top: 30%;
	left: 30%;
}

.upload {
	background: none;
	filter: none;
}

.my-nav {
	position:absolute;
	top: 15%;
	left: 0%;
	right: 0%;
	z-index: 2;
}

.notification-buttons {
	position: absolute;
	top: 60%;
}

.my-side {
	position: absolute;
	top: 30%;
}

.pes-logo {
	position: absolute;
	top: 0%;
	right: 0%;
}

.pro-div { 
	position: absolute;
	top: 50%;
}
.member-img{
	position:absolute;
	top:65%;
	left:45%;
}
.profile-div {
	position: absolute;
	top: 30%;
	right: 0%;
	width:20%;
}

.information {
	position: absolute;
	top: 30%;
	right: 0%;
	font-family:"Comic Sans MS";
	font-weight:normal;
	font-style:italic;
	font-size:15px;
}

.group-info{
	font-weight:bold;
}

.post-img{
	max-width:100%;
	max-height:100%;
}

.posts {
	position: absolute;
	top: 25%;
	left: 30%;
	overflow:hidden;
	
}
.post-pos{
	top:30%;
	left:30%;
	float:center;
  	margin-left: 25%;
}
.members {
	position: absolute;
	top: 55%;
	left: 30%;
	width:500px;
}

hr {
	width: 10px;
}

.add-user {
  position: absolute;
  left:30%;
  top: 30%;
}       

.alumni {
	position: absolute;
	top: 30%;
	left: 15%;
	width:80%;
}