html, body {
	background-color: #34495E;
	height: 98.5%;
	/*color: #ECF0F1;*/
	font-family: 'Kotta One', sans-serif;
}

.signupform {
	margin: auto 330px;
	width: 325px;
	height: 500px;
	border-radius: 10px;
}
.signupform-container {
	margin: 0px 45px;
	padding: 0px;
}

h1 {
	color: #ECF0F1;
}

h3 {
	color: #ECF0F1;
}

.topcontainer {
	width: 960px;
	height: 100%;
	margin: 10px auto 0px auto;
	padding: 0px;
	border-width: 5px;
	border-radius: 10px;
}

.topcontainer-index {
	width: 960px;
	height: 100%;
	margin: 10px auto 0px auto;
	padding: 0px;
	background-color: #C8CDD2;
	border-width: 5px;
	border-radius: 10px;
}

.login-form {
	width: 210px;
}

.login-div {
	position: fixed;
	margin: auto 360px;
	top: 25%;
}

.profile-picture {
	width: 100px;
	height: 100px;
	float: right;
	padding-right: 3%;
}