{% extends "pagebase.html" %}
{% block navbarelements %} 
<ul class="nav">
	<li><a href="/admin">Home</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/admin-users">Users</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/admin-groups">Groups</a></li>
	<li class="divider-vertical"></li>
	<li class="active"><a href="/admin-alumni">Alumni DB</a></li>
</ul>
<ul class="nav pull-right">
	<!-- <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">  
			My profile  
			<b class="caret"></b>  
		</a>
		<ul class="dropdown-menu">  
			<li><a href="#">Settings</a></li>  
			<li><a href="#">My account</a></li>  
			<li><a href="#">Logout</a></li>  
		</ul> 
	</li> -->
	<li class="divider-vertical"></li>
	<li><a href="/settings">Settings</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="profile-div">
	<div class="span4 well">
		<div class="row">
			<div class="span2">
				<p>{{admin.usertype}}</p>
				<p><strong>{{admin.name}}</strong></p>
				<span class=" badge badge-warning">{{admin.dept}}</span> <span class=" badge badge-info">{{admin.uid
			}}</span>
		</div>
	</div>
</div>
</div>

<!-- <div class="my-side">
	<div class="sidebar-nav">
		<div class="well" style="width:300px; padding: 8px 0;">
			<ul class="nav nav-list"> 
				<li class="nav-header">Main</li>        
				<li><a href=""><i class="icon-edit"></i> Add Post</a></li>
				<li><a href=""><i class="icon-calendar"></i> Calendar</a></li>
				<li><a href=""><i class="icon-user"></i> Members</a></li>
				<li><a href=""><i class="icon-comment"></i>Notifications</a></li>
				<li><a href=""><i class="icon-picture"></i> My Advisor</a></li>
			</ul>
		</div>
	</div>
</div>
 -->
<div class="my-post" style="left:20%;">
	<div class="span4 well" style="width:500px;">
		<form accept-charset="UTF-8" method="post">
			<div class="control-group" style="width:250px;">
				{{getuserform.uid(type="text", placeholder="Enter ID", class="input-block-level", rows="5", style="width:500px;")}}
			</div>
			<input class="btn btn-info" type="submit" value="Get Details"/>
			<a href="/admin-addalumni"><input class="btn btn-info pull-right" type="button" value="Add Alumnus"/></a>
		</form>
		{% if error %}
		<div class="alert alert-error">
			<h4>{{error.title}}</h4>
			{{error.message}}
		</div>
		{% endif %}
	</div>
</div>

{% if alumni %}
<div class = "add-user" style="position:absolute;left:30%;top:55%;">
	<div class="span-me">
		<h2>User Details</h2>
		<form action="" method="post">
			<label style="display:none">ID</label>
			{{alumniform.id(type="text", placeholder="ID", class="input-block-level", value=alumni.id, style="display:none")}}
			<label>Name</label>
			{{alumniform.name(type="text", placeholder="Full Name", class="input-block-level", value=alumni.name)}}
			<label>Email</label>
			{{alumniform.email(type="text", placeholder="Email", class="input-block-level", value=alumni.email)}}
			<label>Department</label>
			{{alumniform.dept(type="text", placeholder="Department", class="input-block-level", value=alumni.dept)}}
			<label>Batch</label>
			{{alumniform.batch(type="text", placeholder="Batch", class="input-block-level", value=alumni.batch)}}
			<label>Miscellaneuos Info</label>
			{{alumniform.misc(type="text", placeholder="Miscellaneous Info", class="input-block-level")}}

			<input type="submit" value="Update" class="btn btn-primary" style="width:225px;">
			<div class="clearfix"></div>
		</form>
	</div>
</div>

<a href='/admin-deletealumni?uid={{alumni.id}}'><button class="btn btn-primary pull-right" style="position:relative;width:240px;margin-top:18%;">Delete Entry</button></a>
{% endif %}


<div class="alumni" style="position:relative;padding-top:30%;z-index:-1">
	<table class="table" style="width:80%">
		<tbody>
			<tr>
				<th>ID</th>	 
				<th>Name</th>
				<th>Email</th>
				<th>Dept</th>
				<th>Batch</th>
				<th>Misc details</th>
			</tr>
			{% for alumnus in alumnilist %}
			<tr>
				<td>{{alumnus.id}}</td>	 
				<td>{{alumnus.name}}</td>
				<td>{{alumnus.email}}</td>
				<td>{{alumnus.dept}}</td>
				<td>{{alumnus.batch}}</td>
				<td>{{alumnus.misc}}</td>
			</tr>
			{% endfor %}
			<!-- <tr>
				<td><i class="icon-user"></i> Satyam Vellal</td>
				<td> satyamvellal@gmail.com </td>
			</tr>
			<tr>		 
				<td><i class="icon-user"></i> Soniya Sadalkar</td>
				<td> soniyasadalkar@gmail.com </td>
			</tr>
			<tr>		  
				<td><i class="icon-user"></i> Supriya K</td>
				<td> supriyak@gmail.com </td>		  
			</tr>
			<tr>
				<td><i class="icon-user"></i> Rohit Shetty</td>
				<td> rohitshetty@gmail.com </td>
			</tr>
			<tr>
				<td><i class="icon-user"></i> Shubha Hegde</td>
				<td> shubhahegde@gmail.com </td>
			</tr>
			<tr>
				<td><i class="icon-user"></i> Tanushree</td>
				<td> tanushree@gmail.com </td>
			</tr>
			<tr>
				<td><i class="icon-user"></i> Savita Gotyal</td>
				<td> savitag@gmail.com </td>
			</tr>
			<tr>
				<td><i class="icon-user"></i> Mohammad Kaleem</td>
				<td> mkaleem@gmail.com </td>
			</tr>
			<tr>
				<td><i class="icon-user"></i> Nandish</td>
				<td> nandish@gmail.com </td>
			</tr>
			<tr>
				<td><i class="icon-user"></i> Saikiran Reddy</td>
				<td> saikiranreddy@gmail.com </td>
			</tr>
			<tr>
				<td><i class="icon-user"></i> Saurav Raiguru</td>
				<td> sauravraiguru@gmail.com </td>
			</tr>
			<tr>
				<td><i class="icon-user"></i> Shailesh</td>
				<td> shailesh@gmail.com </td>
			</tr>
			<tr>
				<td><i class="icon-user"></i> Sanjana</td>
				<td> sanjana@gmail.com </td>
			</tr> -->
		</tbody>
	</table>
</div>

{% endblock %}
