{% extends "pagebase.html" %}
{% block navbarelements %} 
<ul class="nav">
	<li><a href="/admin">Home</a></li>
	<li class="divider-vertical"></li>
	<li class="active"><a href="/admin-users">Users</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/admin-groups">Groups</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/admin-alumni">Alumni DB</a></li>
</ul>
<ul class="nav pull-right">
	<!-- <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">  
			My profile  
			<b class="caret"></b>  
		</a>
		<ul class="dropdown-menu">  
			<li><a href="#">Settings</a></li>  
			<li><a href="#">My account</a></li>  
			<li><a href="#">Logout</a></li>  
		</ul> 
	</li> -->
	<li class="divider-vertical"></li>
	<li><a href="/settings">Settings</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="profile-div">
	<div class="span4 well">
		<div class="row">
			<div class="span2">
				<p>{{admin.usertype}}</p>
				<p><strong>{{admin.name}}</strong></p>
				<span class=" badge badge-warning">{{admin.dept}}</span> <span class=" badge badge-info">{{admin.uid
			}}</span>
		</div>
	</div>
</div>
</div>

<!-- <div class="my-side">
	<div class="sidebar-nav">
		<div class="well" style="width:300px; padding: 8px 0;">
			<ul class="nav nav-list"> 
				<li class="nav-header">Main</li>        
				<li><a href=""><i class="icon-edit"></i> Add Post</a></li>
				<li><a href=""><i class="icon-calendar"></i> Calendar</a></li>
				<li><a href=""><i class="icon-user"></i> Members</a></li>
				<li><a href=""><i class="icon-comment"></i>Notifications</a></li>
				<li><a href=""><i class="icon-picture"></i> My Advisor</a></li>
			</ul>
		</div>
	</div>
</div> -->

<div class="my-post">
	<div class="span4 well" style="width:500px;">
		<form accept-charset="UTF-8" method="post">
			<div class="control-group" style="width:250px;">
				{{getuserform.uid(type="text", placeholder="Enter User ID", class="input-block-level", rows="5", style="width:500px;")}}
			</div>
			<input class="btn btn-info" type="submit" value="Get User Details"/>
			<a href="/admin-newuser"><input class="btn btn-info pull-right" type="button" value="Add New User"/></a>
		</form>
		{% if error %}
		<div class="alert alert-error">
			<h4>{{error.title}}</h4>
			{{error.message}}
		</div>
		{% endif %}
	</div>
</div>

{% if user %}
<div class = "add-user" style="position:absolute;left:30%;top:55%;">
	<div class="span-me">
		<h2>User Details</h2>
		<form action="" method="post">
			<label>User ID</label>
			{{newuserform.uid(type="text", placeholder="User ID", class="input-block-level", value=user.uid)}}
			<label>Name</label>
			{{newuserform.name(type="text", placeholder="Full Name", class="input-block-level", value=user.name)}}
			<label>Email Address</label>
			{{newuserform.email(type="text", placeholder="email-id", class="input-block-level", value=user.email)}}
			<label>Password</label>
			{{newuserform.passwd(type="password", placeholder="Password", class="input-block-level")}}
			<label>Department</label>
			{{newuserform.dept(type="text", placeholder="dept", class="input-block-level", value=user.dept)}}
			<label>Group ID</label>
			{{newuserform.gid(type="text", placeholder="Group ID", class="input-block-level", value=user.gid)}}
<!-- 			<div class="btn-group" data-toggle="buttons-radio">
				<button type="button" class="btn btn-primary">Student</button>
				<button type="button" class="btn btn-primary">Faculty</button>
			</div> -->
			{{newuserform.usertype(type="text", placeholder="usertype", class="buttons-radio")}}

			<input type="submit" value="Update" class="btn btn-primary" style="width:225px;">
			<div class="clearfix"></div>
		</form>
	</div>
</div>

<a href='/admin-deleteuser?uid={{user.uid}}'><button class="btn btn-primary pull-right" style="position:relative;width:240px;margin-top:18%;">Delete User</button></a>
{% endif %}

{% endblock %}
