{% extends "pagebase.html" %}
{% block navbarelements %}
<ul class="nav">
	<li><a href="/admin">Home</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/admin-users">Users</a></li>
	<li class="divider-vertical"></li>
	<li class="active"><a href="/admin-groups">Groups</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/admin-alumni">Alumni DB</a></li>
</ul>
<ul class="nav pull-right">
	<!-- <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">  
			My profile  
			<b class="caret"></b>  
		</a>
		<ul class="dropdown-menu">  
			<li><a href="#">Settings</a></li>  
			<li><a href="#">My account</a></li>  
			<li><a href="#">Logout</a></li>  
		</ul>  
	</li>   -->
	<li class="divider-vertical"></li>
	<li><a href="/settings">Settings</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="profile-div">
	<div class="span4 well">
		<div class="row">
			<div class="span2">
				<p>{{admin.usertype}}</p>
				<p><strong>{{admin.name}}</strong></p>
				<span class=" badge badge-warning">{{admin.dept}}</span> <span class=" badge badge-info">{{admin.uid
			}}</span>
		</div>
	</div>
</div>
</div>

<!-- <div class="my-side">
	<div class="sidebar-nav">
		<div class="well" style="width:300px; padding: 8px 0;">
			<ul class="nav nav-list"> 
				<li class="nav-header">Main</li>        
				<li><a href="newpost"><i class="icon-edit"></i> Add Post</a></li>
				<li><a href="#"><i class="icon-calendar"></i> Calendar</a></li>
				<li><a href="members"><i class="icon-user"></i> Members</a></li>
				<li><a href="blog_post.html"><i class="icon-comment"></i>Notifications</a></li>
				<li><a href="/advisor"><i class="icon-picture"></i> My Advisor</a></li>
			</ul>
		</div>
	</div>
</div> -->

<div class="posts">
	{% for item in grouplist %}
	{% set group, advisor = item %}
	<div class="span12">
		<div class="row">
			<div class="span8">
				<div class="row">
					<div class="span8">
						<h4><strong><a href="#">[{{group.id}}]&nbsp;&nbsp;{{advisor.name}}&nbsp;&nbsp;({{advisor.dept}})</a></strong></h4>
					</div>
				</div>
				<div class="row">
						<!-- <div class="span2">
							<a href="#" class="thumbnail">
								<img class = "post-img" src="images/profile-images/satyam.jpg" alt="error">
							</a>
						</div> -->
						<div class="span6">      
							<p>
								{{group.posts.count()}} topic(s) discussed</br>
								{{group.issues.count()}} issue(s) addressed
							</p>
							<p><a href="/admin-groupsettings?id={{group.id}}">Group Settings</a></p>
						</div>
					</div>
				<!-- </div> -->
				<div class="row">
					<div class="span8">
						<p></p>
						<p>
							<i class="icon-comment"></i> <a href="#">{{group.members.count()}} members(s)</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<a href='/admin-newgroup'><button class="btn btn-primary pull-right" style="position:relative;width:240px;margin-top:18%;">New Group</button></a>z
{% endblock %}