{% extends "pagebase.html" %}
{% block navbarelements %} 
<ul class="nav">
	<li><a href="/admin">Home</a></li>
	<li class="divider-vertical"></li>
	<li class="active"><a href="/admin-users">Users</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/admin-groups">Groups</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/admin-alumni">Alumni DB</a></li>
</ul>
<ul class="nav pull-right">
	<!-- <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">  
			My profile  
			<b class="caret"></b>  
		</a>
		<ul class="dropdown-menu">  
			<li><a href="#">Settings</a></li>  
			<li><a href="#">My account</a></li>  
			<li><a href="#">Logout</a></li>  
		</ul> 
	</li> -->
	<li class="divider-vertical"></li>
	<li><a href="/settings">Settings</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="profile-div">
	<div class="span4 well">
		<div class="row">
			<div class="span2">
				<p>{{admin.usertype}}</p>
				<p><strong>{{admin.name}}</strong></p>
				<span class=" badge badge-warning">{{admin.dept}}</span> <span class=" badge badge-info">{{admin.uid
			}}</span>
		</div>
	</div>
</div>
</div>

<div class="my-side">
	<div class="sidebar-nav">
		<div class="well" style="width:300px; padding: 8px 0;">
			<ul class="nav nav-list"> 
				<li class="nav-header">Main</li>        
				<li><a href=""><i class="icon-edit"></i> Add Post</a></li>
				<li><a href=""><i class="icon-calendar"></i> Calendar</a></li>
				<li><a href=""><i class="icon-user"></i> Members</a></li>
				<li><a href=""><i class="icon-comment"></i>Notifications</a></li>
				<li><a href=""><i class="icon-picture"></i> My Advisor</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="my-post">
	<div class="span4 well" style="width:500px;">
		<form accept-charset="UTF-8" method="post">
			<div class="control-group" style="width:250px;">
				{{form.members(type="text", placeholder="Enter list of members", class="input-block-level", rows="4",style="width:500px;")}}
			</div>
			<div class="control-group" style="width:250px;">
				{{form.advisor(type="text", placeholder="Enter Advisor UID", class="input-block-level", style="width:500px;")}}
			</div>
			<input class="btn btn-info" type="submit" value="Update Group Details"/>
			<a href="/admin-newgroup"><input class="btn btn-info pull-right" type="button" value="Create New Group"/></a>
		</form>
	</div>
</div>

<a href='/admin-deletegroup?id={{id}}'><button class="btn btn-primary pull-right" style="position:relative;width:240px;margin-top:18%;">Delete Group</button></a>

{% endblock %}