<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	{% block headbefore %} {% endblock %}
	<link type="text/css" rel="stylesheet" href="static/styles/bootstrap/css/bootstrap.css"/>
	<link type="text/css" rel="stylesheet" href="static/styles/bootstrap/css/bootstrap-responsive.css"/>
	<link type="text/css" rel="stylesheet" href="static/styles/stprofile2.css"/>
	<script src="js/jquery-1.8.2.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	{% block headafter %} {% endblock %}
</head>
<body background="static/images/squairy_light.png">
	<div class={{styleclass}}>
		{% block navbar %} {% endblock %}
		{% block content %} {% endblock %}
	</div>
</body>
</html>
