{% extends "pagebase.html" %}

{% block navbarelements %}
<ul class="nav">
	<li><a href="stprofile2.html">Home</a></li>
	<li class="divider-vertical"></li>
	<li class="active"><a href="group">Group</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/issues">Issues</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/alumni">Alumni DB</a></li>
</ul>
<ul class="nav pull-right">
	<!-- <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">  My profile  <b class="caret"></b>  </a>
		<ul class="dropdown-menu">  
			<li><a href="#">Settings</a></li>  
			<li><a href="#">My account</a></li>  
			<li><a href="#">Logout</a></li>  
		</ul>  
	</li>  -->
	<li class="divider-vertical"></li>
	<li><a href="/settings">Settings</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="my-side">
	<div class="sidebar-nav">
		<div class="well">
			<ul class="nav nav-list"> 
				<li class="nav-header">Main</li>        
				<li><a href="/newpost"><i class="icon-edit"></i> Add Post</a></li>
				<li><a href="/newissue"><i class="icon-edit"></i> Add Issue</a></li>
				<li><a href="/members"><i class="icon-user"></i> Members</a></li>
				<li><a href="/notifications"><i class="icon-comment"></i>Notifications</a></li>
				{% if user.usertype == "student" %}
				<li><a href="/advisor"><i class="icon-picture"></i> My Advisor</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>


<div class="members">
	<table class="table">
		<tbody>			
			<tr>
				<th>Faculty Advisor
					<td>
						{{advisor.name}}
					</td>
				</th>
			</tr>
			<tr>
				<th>Email id
					<td>
						{{advisor.email}}
					</td>
				</th>
			</tr>
			<tr>		  
				<th>Dept
					<td>
						{{advisor.dept}}
					</td>
				</th>
			</tr>
		</tbody>
	</table>
</div>


<div class="pes-logo">
	<img src="images/profile-images/pesit.jpg">
</div>
{% endblock %}