{% extends "pagebase.html" %}
{% block navbarelements %} 
<li class="active"><a href="#">Home</a></li>
<li><a href="/profile">Profile</a></li>
<li><a href="/group">Group</a></li>
{% endblock %}
{% block content %}
<p class="lead" >Hello, {{user.name}}</p>
{% for post in posts %}
<p>
	{{post.body}}
</p>
<hr/>
{% endfor %}
{% endblock %}
