{% extends "pagebase.html" %}
{% block navbarelements %}
<ul class="nav">
	<li><a href="profile">Home</a></li>
	<li class="divider-vertical"></li>
	<li><a href="group">Group</a></li>
	<li class="divider-vertical"></li>
	<li class="active"><a href="/issues">Issues</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/alumni">Alumni DB</a></li>
</ul>
<ul class="nav pull-right">
	<!-- <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">  
			My profile  
			<b class="caret"></b>  
		</a>
		<ul class="dropdown-menu">  
			<li><a href="#">Settings</a></li>  
			<li><a href="#">My account</a></li>  
			<li><a href="#">Logout</a></li>  
		</ul>  
	</li>   -->
	<li class="divider-vertical"></li>
	<li><a href="/settings">Settings</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="my-side">
	<div class="sidebar-nav">
		<div class="well">
			<ul class="nav nav-list"> 
				<li class="nav-header">Main</li>        
				<li><a href="/newpost"><i class="icon-edit"></i> Add Post</a></li>
				<li><a href="/newissue"><i class="icon-edit"></i> Add Issue</a></li>
				<li><a href="/members"><i class="icon-user"></i> Members</a></li>
				<li><a href="/notifications"><i class="icon-comment"></i>Notifications</a></li>
				{% if user.usertype == "student" %}
				<li><a href="/advisor"><i class="icon-picture"></i> My Advisor</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>

<div class="information">
	<div class="pull-right">
		<div class = "well" >
			<div class="my-main">
				<a class="group-info"> This is the discussion forum for the Faculty Management System. You can post your issues here!!</a>

				<div class="well">
					<table class="table">
						<tbody>
							{% for member in group.members %}
							<tr>
								<td><i class="icon-user"></i>{{member.name}}</td>
							</tr>
							{% endfor %}
	<!-- 						<tr>		 
								<td><i class="icon-user"></i> Soniya Sadalkar</td>
							</tr>
							<tr>		  
								<td><i class="icon-user"></i> Supriya K</td>		  
							</tr>
							<tr>
								<td><i class="icon-user"></i> Rohit Shetty</td>
							</tr>
							<tr>
								<td><i class="icon-user"></i> Shubha Hegde</td>
							</tr>
							<tr>
								<td><i class="icon-user"></i> Tanushree</td>
							</tr>
							<tr>
								<td><i class="icon-user"></i> Savita Gotyal</td>
							</tr>
							<tr>
								<td><i class="icon-user"></i> Mohammad Kaleem</td>
							</tr>
							<tr>
								<td><i class="icon-user"></i> Nandish</td>
							</tr>
							<tr>
								<td><i class="icon-user"></i> Saikiran Reddy</td>
							</tr>
							<tr>
								<td><i class="icon-user"></i> Saurav Raiguru</td>
							</tr>
							<tr>
								<td><i class="icon-user"></i> Shailesh</td>
							</tr>
							<tr>
								<td><i class="icon-user"></i> Sanjana</td>
							</tr> -->
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

{% if user.usertype == 'student' %}
<div class="posts">
	{% for issue in user.issues %}
	<div class="span12">
		<div class="row">
			<div class="span8">
				<div class="row">
					<div class="span8">
						<h4><strong><a href="#">{{issue.title}}</a></strong></h4>
					</div>
				</div>
				<div class="row">
					<!-- <div class="span2">
						<a href="#" class="thumbnail">
							<img class = "post-img" src="images/profile-images/satyam.jpg" alt="error">
						</a>
					</div> -->
					<div class="span6">      
						<p>
							{{issue.body}}
						</p>
						<p><a href="/issue?id={{issue.id}}">Goto Issue</a></p>
					</div>
				</div>
				<div class="row">
					<div class="span8">
						<p></p>
						<p>
							<!-- <i class="icon-user"></i> by <a href="#">{{issue.user.name}}</a>  -->
							<i class="icon-calendar"></i>{{issue.timestamp}}
							<i class="icon-comment"></i> <a href="#">{{issue.responses.count()}} response(s)</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</hr>
	{% endfor %}
</div>
{% else %}
<div class="posts">
	{% for issue in group.issues %}
	<div class="span12">
		<div class="row">
			<div class="span8">
				<div class="row">
					<div class="span8">
						<h4><strong><a href="#">{{issue.title}}</a></strong></h4>
					</div>
				</div>
				<div class="row">
					<!-- <div class="span2">
						<a href="#" class="thumbnail">
							<img class = "post-img" src="images/profile-images/satyam.jpg" alt="error">
						</a>
					</div> -->
					<div class="span6">      
						<p>
							{{issue.body}}
						</p>
						<p><a href="/issue?id={{issue.id}}">Goto Issue</a></p>
					</div>
				</div>
				<div class="row">
					<div class="span8">
						<p></p>
						<p>
							<i class="icon-user"></i> by <a href="#">{{issue.user.name}}</a> 
							<i class="icon-calendar"></i>{{issue.timestamp}}
							<i class="icon-comment"></i> <a href="#">{{issue.responses.count()}} reponse(s)</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</hr>
	{% endfor %}
</div>
{% endif %}
{% endblock %}