{% extends "base.html" %}
{% block content %}
<div class="container login-div">
	<h1>Sign In</h1>
	<form class="login-form" action="" method="post" name="signup">
		{{form.hidden_tag()}}
		<div class="control-group">
			{{form.uid.label}}
			{{form.usn(size=64, type="text", placeholder="USN")}}
		</div>
		<div class="control-group">
			{{form.password.label}}
			{{form.password(size=32, type="password", placeholder="Password")}}
		</div>
		<div class="control-group">
			<input type="submit" class="btn btn-primary" style="width:102px;" value="Sign In">
			<a href="/signup"><input type="button" style="width:102px;" class="btn btn-primary" value="Sign Up"/></a>
		</div>
	</form>
	<h3 class"heading3">{% block errorResponse %}{% endblock %}</h3>
</div>
{% endblock %}