{% extends "pagebase.html" %}
{% block navbarelements %}
<ul class="nav">
	<li><a href="profile">Home</a></li>
	<li class="divider-vertical"></li>
	<li class="active"><a href="group">Group</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/issues">Issues</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/alumni">Alumni DB</a></li>
</ul>
<ul class="nav pull-right">
	<!-- <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">  My profile  <b class="caret"></b>  </a>
		<ul class="dropdown-menu">  
			<li><a href="#">Settings</a></li>  
			<li><a href="#">My account</a></li>  
			<li><a href="#">Logout</a></li>  
		</ul>  
	</li>   -->
	<li class="divider-vertical"></li>
	<li><a href="/settings">Settings</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/logout">Logout</a></li>
</ul> 
{% endblock %}
{% block content %}
<div class="profile-div">
	<div class="span4 well">
		<div class="row">
			<div class="span2">
				<p>{{user.usertype}}</p>
				<p><strong>{{user.name}}</strong></p>
				<span class=" badge badge-warning">{{user.dept}}</span> <span class=" badge badge-info">{{user.uid}}</span>
			</div>
		</div>
	</div>
</div>

<div class="my-side">
	<div class="sidebar-nav">
		<div class="well">
			<ul class="nav nav-list"> 
				<li class="nav-header">Main</li>        
				<li><a href="/newpost"><i class="icon-edit"></i> Add Post</a></li>
				<li><a href="/newissue"><i class="icon-edit"></i> Add Issue</a></li>
				<li><a href="/members"><i class="icon-user"></i> Members</a></li>
				<li><a href="/notifications"><i class="icon-comment"></i>Notifications</a></li>
				{% if user.usertype == "student" %}
				<li><a href="/advisor"><i class="icon-picture"></i> My Advisor</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>



<div class="members">
	<table class="table">
		<tbody>
			{% for member in user.group.members %}
			<tr>		 
				<td><i class="icon-user"></i>{{member.name}}</td>
				<td>{{member.email}}</td>
			</tr>
			{% endfor %}
			<!-- <tr>
				<td><i class="icon-user"></i> Satyam Vellal</td>
				<td> satyamvellal@gmail.com </td>
			</tr>
			<tr>		 
				<td><i class="icon-user"></i> Soniya Sadalkar</td>
				<td> soniyasadalkar@gmail.com </td>
			</tr>
			<tr>		  
				<td><i class="icon-user"></i> Supriya K</td>
				<td> supriyak@gmail.com </td>		  
			</tr>
			<tr>
				<td><i class="icon-user"></i> Rohit Shetty</td>
				<td> rohitshetty@gmail.com </td>
			</tr>
			<tr>
				<td><i class="icon-user"></i> Shubha Hegde</td>
				<td> shubhahegde@gmail.com </td>
			</tr>
			<tr>
				<td><i class="icon-user"></i> Tanushree</td>
				<td> tanushree@gmail.com </td>
			</tr>
			<tr>
				<td><i class="icon-user"></i> Savita Gotyal</td>
				<td> savitag@gmail.com </td>
			</tr>
			<tr>
				<td><i class="icon-user"></i> Mohammad Kaleem</td>
				<td> mkaleem@gmail.com </td>
			</tr>
			<tr>
				<td><i class="icon-user"></i> Nandish</td>
				<td> nandish@gmail.com </td>
			</tr>
			<tr>
				<td><i class="icon-user"></i> Saikiran Reddy</td>
				<td> saikiranreddy@gmail.com </td>
			</tr>
			<tr>
				<td><i class="icon-user"></i> Saurav Raiguru</td>
				<td> sauravraiguru@gmail.com </td>
			</tr>
			<tr>
				<td><i class="icon-user"></i> Shailesh</td>
				<td> shailesh@gmail.com </td>
			</tr>
			<tr>
				<td><i class="icon-user"></i> Sanjana</td>
				<td> sanjana@gmail.com </td>
			</tr> -->
		</tbody>
	</table>
</div>

<div class="pes-logo">
	<img src="images/profile-images/pesit.jpg">
</div>
{% endblock %}