{% extends "pagebase.html" %}
{% block navbarelements %}
<ul class="nav">
	<li><a href="/profile">Home</a></li>
	<li class="divider-vertical"></li>
	<li><a href="group">Group</a></li>
	<li class="divider-vertical"></li>
	<li class="active"><a href="/issues">Issues</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/alumni">Alumni DB</a></li>
</ul>
<ul class="nav pull-right">
	<!-- <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">  
			My profile  
			<b class="caret"></b>  
		</a>
		<ul class="dropdown-menu">  
			<li><a href="#">Settings</a></li>  
			<li><a href="#">My account</a></li>  
			<li><a href="#">Logout</a></li>  
		</ul> 
	</li> -->
	<li class="divider-vertical"></li>
	<li><a href="/settings">Settings</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="profile-div">
	<div class="span4 well">
		<div class="row">
			<div class="span2">
				<p>{{user.usertype}}</p>
				<p><strong>{{user.name}}</strong></p>
				<span class=" badge badge-warning">{{user.dept}}</span> <span class=" badge badge-info">{{user.uid}}</span>
			</div>
		</div>
	</div>
</div>

<div class="my-side">
	<div class="sidebar-nav">
		<div class="well">
			<ul class="nav nav-list"> 
				<li class="nav-header">Main</li>        
				<li><a href="/newpost"><i class="icon-edit"></i> Add Post</a></li>
				<li><a href="/newissue"><i class="icon-edit"></i> Add Issue</a></li>
				<li><a href="/members"><i class="icon-user"></i> Members</a></li>
				<li><a href="/notifications"><i class="icon-comment"></i>Notifications</a></li>
				{% if user.usertype == "student" %}
				<li><a href="/advisor"><i class="icon-picture"></i> My Advisor</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>


<div class="my-post">
	<div class="span4 well">
		<form action="" accept-charset="UTF-8" method="post">
			<div class="control-group" style="width:250px;">
				{{form.title(type="text", placeholder="Title", class="input-block-level")}}
			</div>
			<div class="control-group" style="width:250px;">
				{{form.body(type="text", placeholder="Enter the body", class="input-block-level", rows="10", style="width:370px;")}}
			</div>
			<input class="btn btn-info" type="submit" value="Post New Issue"/>
		</form>
	</div>
</div>
{% endblock %}