{% extends "pagebase.html" %}
{% block navbarelements %} 
<ul class="nav">
	<li class="active"><a href="/profile">Home</a></li>
	<li class="divider-vertical"></li>
	<li><a href="group">Group</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/issues">Issues</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/alumni">Alumni DB</a></li>
</ul>
<ul class="nav pull-right">
	<!-- <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">  
			My profile  
			<b class="caret"></b>  
		</a>
		<ul class="dropdown-menu">  
			<li><a href="#">Settings</a></li>  
			<li><a href="#">My account</a></li>  
			<li><a href="#">Logout</a></li>  
		</ul> 
	</li> -->
	<li class="divider-vertical"></li>
	<li><a href="/settings">Settings</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="my-side">
	<div class="sidebar-nav">
		<div class="well">
			<ul class="nav nav-list"> 
				<li class="nav-header">Main</li>        
				<li><a href="/newpost"><i class="icon-edit"></i> Add Post</a></li>
				<li><a href="/newissue"><i class="icon-edit"></i> Add Issue</a></li>
				<li><a href="/members"><i class="icon-user"></i> Members</a></li>
				<li><a href="/notifications"><i class="icon-comment"></i>Notifications</a></li>
				{% if user.usertype == "student" %}
				<li><a href="/advisor"><i class="icon-picture"></i> My Advisor</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>

{% if user.usertype != "student" %}
<div class="my-post" style="position:relative;padding:7% 0%">
	<div class="span4 well">
		<form action="" accept-charset="UTF-8" method="post">
			<div class="control-group" style="width:250px;">
				{{form.title(type="text", placeholder="Subject", class="input-block-level")}}
			</div>
			<div class="control-group" style="width:250px;">
				{{form.clas(type="text", placeholder="class", class="input-block-level")}}
			</div>
			<div class="control-group" style="width:250px;">
				{{form.body(type="text", placeholder="Enter the body", class="input-block-level", rows="4", style="width:370px;")}}
			</div>
			<input class="btn btn-info" type="submit" value="Send Notification"/>
		</form>
	</div>
</div>
{% endif %}
<div class="my-notifications" style="position:fixed; top:75%">
	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<!-- <th class="span1"><input type="checkbox"></th> -->
				<th class="span2"></th>
				<th class="span2"></th>
				<th class="span9"></th>
				<th class="span2"></th>
			</tr>
		</thead>
		<tbody>
			{% for notification in user.notifications %}
			<tr>
				<!-- <td><input type="checkbox"> <a href="#"><i class="icon-star-empty"></i></a></td> -->
				{% if notification.unread == 1 %}
					<td><strong>{{notification.subject}}</strong></td>
					<td><span class="label pull-right">{{notification.clas}}</span></td>
					<td><strong>{{notification.body}}</strong></td>
					<td><strong>{{notification.timestamp}}</strong></td>
				{% else %}
					<td>{{notification.subject}}</td>
					<td><span class="label pull-right">{{notification.clas}}</span></td>
					<td>{{notification.body}}</td>
					<td>{{notification.time}}</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
