{% extends "base.html" %}
{% block navbar %}
<div class="pes-logo">
	<img src="static/images/pesit.jpg">
</div>

<div class="container">
	<div class="row">
		<div class="span12">
			<h2 class="text-success">Mantrana - Faculty Advisor Management System</h2><br/>
			<div class="my-nav">
				<div class="navbar">
					<div class="navbar-inner">
						{% block navbarelements %} {% endblock %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block content %}{% endblock %}
