{% extends "pagebase.html" %}
{% block navbarelements %}
<ul class="nav">
	<li><a href="profile">Home</a></li>
	<li class="divider-vertical"></li>
	<li class="active"><a href="group">Group</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/issues">Issues</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/alumni">Alumni DB</a></li>
</ul>
<ul class="nav pull-right">
	<!-- <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">  
			My profile  
			<b class="caret"></b>  
		</a>
		<ul class="dropdown-menu">  
			<li><a href="#">Settings</a></li>  
			<li><a href="#">My account</a></li>  
			<li><a href="#">Logout</a></li>  
		</ul>  
	</li>   -->
	<li class="divider-vertical"></li>
	<li><a href="/settings">Settings</a></li>
	<li class="divider-vertical"></li>
	<li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="my-side">
	<div class="sidebar-nav">
		<div class="well">
			<ul class="nav nav-list"> 
				<li class="nav-header">Main</li>        
				<li><a href="/newpost"><i class="icon-edit"></i> Add Post</a></li>
				<li><a href="/newissue"><i class="icon-edit"></i> Add Issue</a></li>
				<li><a href="/members"><i class="icon-user"></i> Members</a></li>
				<li><a href="/notifications"><i class="icon-comment"></i>Notifications</a></li>
				{% if user.usertype == "student" %}
				<li><a href="/advisor"><i class="icon-picture"></i> My Advisor</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>


<div class="posts">
	<div class="span12 well" style="width:500px;">
		<div class="row">
			<div class="span8">
				<div class="row">
					<div class="span8">
						<h4><strong><a href="#">{{post.title}}</a></strong></h4>
					</div>
				</div>
				<div class="row">
					<!-- <div class="span2">
						<a href="#" class="thumbnail">
							<img class = "post-img" src="images/profile-images/satyam.jpg" alt="error">
						</a>
					</div> -->
					<div class="span6">      
						<p>
							{{post.body}}
						</p>
					</div>
				</div>
				<div class="row">
					<div class="span8">
						<p></p>
						<p>
							<i class="icon-user"></i> by <a href="#">{{post.user.name}}</a> 
							<i class="icon-calendar"></i>{{post.timestamp}}
							<i class="icon-comment"></i> <a href="#">{{post.replies.count()}} comment(s)</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% for reply in post.replies %}
	<div class="span12">
		<div class="row">
			<div class="span8">
				<div class="row">
				</div>
				<div class="row">
					<!-- <div class="span2">
						<a href="#" class="thumbnail">
							<img class = "post-img" src="images/profile-images/satyam.jpg" alt="error">
						</a>
					</div> -->
					<div class="span6">      
						<p>
							{{reply.body}}
						</p>
					</div>
				</div>
				<div class="row">
					<div class="span8">
						<p></p>
						<p>
							<i class="icon-user"></i> by <a href="#">{{reply.user.name}}</a> 
							<i class="icon-calendar"></i>{{reply.timestamp}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	<div class="my-post" style="position:relative;left:0px;width:500px;">
		<div class="span4 well" style="width:500px;">
			<form accept-charset="UTF-8" method="post">
				<div class="control-group" style="width:250px;">
					{{form.body(type="text", placeholder="Enter the comment", class="input-block-level", rows="5", style="width:500px;")}}
				</div>
				<input class="btn btn-info" type="submit" value="Post Reply"/>
			</form>
		</div>
	</div>
</div>

{% endblock %}