{% extends "base.html" %}
{% block headbefore %}
  <meta charset="utf-8">
  <title>Sign in &middot; Twitter Bootstrap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
{% endblock %}

{% block headafter %}
 <style type="text/css">
  body {

    padding-top: 200px;
    padding-bottom: 40px;
    padding-right: 10px;
    padding-left: 400px;
    background-color:  #f5f5f5;
  }
  .one
  {
    position: absolute;
    top: 200px;
    left: 300px;
  }
  .two {
    position: absolute;
    top:50px;
    left:300px;
  }
  p
  {
    font-size:150%;
    color:#000080;
  }
  h3
  {
    color:#0000CD;
  }
  h1
  {
    color:#006400;
  }
  .form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin input[type="text"],
  .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }
  </style>
{% endblock %}

{% block content %} 
 <div class="two">
   <h1>MANTRANA - FACULTY ADVISOR MANAGEMENT SYSTEM</h1>
 </div>

 <div class="one">
  <div class="row">
    <div class="span3">
      <h3>WELCOME</h3>
      <p>This is the Faculty Advisor Management Portal</p>
    </div>
  </div>

</div>


<div class="container">

  <form class="form-signin" method="post" >
    {{form.hidden_tag()}}
    <h2 class="form-signin-heading">Sign In</h2>
    <div class="control-group">
      {{form.uid(size=64, type="text", placeholder="UID", class="input-block-level")}}
    </div>
    <div class="control-group">
      {{form.password(size=32, type="password", placeholder="Password", class="input-block-level")}}
    </div>
    <div class="control-group">
      <input type="submit" class="btn btn-primary" style="width:102px;" value="Sign In">
    </div>
    {% if error %}
    <div class="alert alert-error">
      <h4>{{error.title}}</h4>
      {{error.message}}
    </div>
    {% endif %}
  </form>
</div>
{% endblock %}