{% extends "base.html" %}
{% block content %}
<div class="signupform">
	<div class="signupform-container">
		<h1 class"heading1">Sign Up</h1>
		<form class="login-form" method="post" name="login">
			{{form.hidden_tag()}}
			<div>
				{{form.name.label}}
				{{form.name(size=64, type="text", placeholder="FirstName LastName")}}
			</div>
			<div>
				{{form.usn.label}}
				{{form.usn(size=64, type="text", placeholder="USN")}}
			</div>
			<div>
				{{form.email.label}}
				{{form.email(size=64, type="text", placeholder="me.mail@example.com")}}
			</div>
			<div>
				{{form.password.label}}
				{{form.password(size=32, type="password", placeholder="Password")}}
			</div>
			<div>
				{{form.cpassword.label}}
				{{form.cpassword(size=32, type="password", placeholder="Confirm Password")}}
			</div>
			<div>
				<input type="submit" class="btn btn-primary formbutton" value="Sign Up"
			</div>
		</form>
		<h3 class"heading3">{% block errorResponse %}{% endblock %}</h3>
	</div>
</div>
{% endblock %}